<html lang="en">
    <head>
        <title>Author Attic</title>
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="style.css">
    </head>
    <body>
        <center><h2 class="c1">Add a New Product</h2></center>
        <form action="/AddData" method="POST">
        <label>Product I.D.:</label>
        <input type="number" placeholder="Enter Product I.D.:" name="PId"><br>
        <label>Book Name: </label>&nbsp;
         <input type ="text" placeholder ="Enter Book Name:" name ="BookName"><br>

        <label>Author: </label>&nbsp; 
        <input type ="text" placeholder ="Enter Author Name:" name ="Author"><br>
        
        <label>Genre: </label>&nbsp; 
        <input type= "text" placeholder ="Enter Genre:" name ="Genre"><br>

        <label>Price: </label>&nbsp; 
        <input type= "number" placeholder ="Enter Price:" name ="Price"><br>
        
        <label>Stock: </label>&nbsp;
        <input type ="number" placeholder ="Enter quantity" name ="Stock"><br>
        <button type="submit">Submit</button>
        
    </form>
    <a href="/" class="c2">Home Page</a>
    </body>
</html>




