<html lang="en">
    <head>
        <title>Author Attic</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <center><h2 class="c1">Update Quantity of the Product</h2></center>
        <form action="/update" method="POST">
        <label>Product I.D.:</label>
        <input type="number" placeholder="Enter Product I.D.:" name="id"><br>
        <label>New Stock: </label>&nbsp;
         <input type ="number" placeholder ="Enter Quantity:" name ="Stock"><br><br>
         <button id="update">Update</button>
        </form>
        <a href="/" class="c2">Home Page</a>
    </body>
</html>




